header{
    background-color: black;
    height: 100px;  
    display: flex;
    gap: 15px;
    align-items: center;
    margin: -8px;
    color: white;
    text-decoration: none;
}
h2{
    background-color: black;
    color: white;
}
.AP1{
    display: flex;
    justify-content: center;
}
img{
    width: 350px;
}
.AAP{
    justify-content: space-evenly;
    flex: 1%;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.l1{
    color: black;
}
.l1:hover{
    color: green;
}
