header{
    background: linear-gradient(90deg, rgb(87, 235, 87), rgb(9,82 ,40));
    height: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 400px;
    top: 40px;
}
body{
    background-color: #05202E;
}
.K3r{
    font-size: 80px;
    position: relative;
    text-decoration: none;
    left: 40%;
    top: -270px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:hover.K3r{
    text-decoration: underline;
}
.lien1{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    top: -270px;
    left: 58%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:hover.lien1{
    text-decoration: underline;
    font-size: 31px;
}
:hover.lien2{
    text-decoration: underline;
    font-size: 31px;
}
.logo{
    height: 300px;
    position: relative;
    left: 7%;
}
.gtexte{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.gt1{
    position: relative;
    background: linear-gradient( rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 2px;
    height: 300px;
    width: 520px;
    left: 15%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gt2{
    position: relative;
    top: 25px;
    background: linear-gradient( rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 2px;
    height: 300px;
    width: 520px;
    left: 52%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gt3{
    position: relative;
    top: 40px;
    background: linear-gradient( rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 2px;
    height: 300px;
    width: 520px;
    left: 15%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gt4{
    position: relative;
    top: 60px;
    background: linear-gradient( rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 2px;
    height: 300px;
    width: 500px;
    left: 52%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ptexte{
    width: 120px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 5px;
    position: absolute;
    top: 540px;
    left: 140px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.linkap{
    position: absolute;
    width: 50px;
}
.instap{
    position: absolute;
    width: 50px;
    left: 80px;
}
.fbap{
    position: absolute;
    height: 50px;
    left: 150px
}
.reseau{
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient( rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 5px;
    position: absolute;
    top: 1900px;
    left: 17%;
}
footer{
    background-color: black;
    position: absolute;
    top: 1390px;
    left: 66%;
}
h1{
    text-align: center;
    font-size: 25px;
}
.partenaire{
    position: relative;
    top: 80px;
    background: linear-gradient( rgb(87, 235, 87), rgb(9,82 ,40));
    padding: 2px;
    height: 150px;
    width: 500px;
    left: 35%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imp{
    position: absolute;
    width: 80px;
    left: 80%;
    top: 74px;
}
.tra{
    position: absolute;
    top: 0px;
    left: 52%;
    width: 405px;
}
.anto{
    position: absolute;
    width: 405px;
    top: 330px;
    left: 23%;
}
.rayou{
    position: absolute;
    top: 650px;
    left: 52%;
    width: 405px;
}
.tra2{
    position: absolute;
    top: 970px;
    left: 23%;
    width: 405px;
}
